:root {
  /* http://www.zovirl.com/2011/07/22/solarized_cheat_sheet/ */
  --bg-dark:#002b36;
  --bg-light: #073642;
  --font-dark: #93a1a1;
  --font-light: #839496;
  --gray-dark:  #839496;
  --gray-light: #657b83;
    
  --main-surface-primary: var(--bg-dark);
  --main-surface-secondary: var(--bg-light);
  --main-surface-tertiary: var(--bg-dark);
  --main-surface-background: var(--bg-light);
    
  --message-surface: var(--bg-light);
    
  --sidebar-surface-primary: var(--bg-light);
  --sidebar-surface-secondary: var(--bg-dark);
    
  --text-primary: var(--font-light);
  --text-secondary: var(--font-dark);
}

.bg-token-sidebar-surface-primary {
    background-color: var(--bg-dark) !important;
}

.bg-token-main-surface-primary {
    background-color: var(--bg-dark) !important;
}

/* invert avatar from obnoxious pink colour */
#radix-\:r1i\: > div:nth-child(1) > div:nth-child(1) > img:nth-child(1), #radix-\:r2i\: > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
    filter: invert(1);
}
